.admin-dashboard {
  padding: 40px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.admin-dashboard h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.logout-btn {
  background-color: black;
  color: white;
  padding: 10px 30px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  float: right;
}

sectionA {
  margin-top: 40px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

section h2 {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}
