.login-page {
  font-family: sans-serif;
  background-color: #ffffff;
  min-height: 100vh;
  padding-top: 80px;
}

.login-container {
  max-width: 400px;
  margin: auto;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
}

.login-title {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.google-btn {
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  font-size: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.google-icon {
  width: 20px;
  height: 20px;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-weight: bold;
  color: #999;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

.login-input {
  width: 100%;
  padding: 12px;
  margin: 8px 0 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.password-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 35%;
  cursor: pointer;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.forgot-link {
  text-decoration: underline;
  color: #000;
}

.login-btn {
  width: 100%;
  background-color: #00ecff;
  color: #000;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

.bottom-links p {
  margin: 4px 0;
  font-size: 0.9rem;
}

.bottom-links a {
  font-weight: bold;
  text-decoration: underline;
}
