.signup-page {
  font-family: sans-serif;
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.signup-container {
  background-color: #ffffff;
  max-width: 400px;
  width: 90%;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 40px;
  z-index: 1;
}

.signup-title {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.signup-label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
}

.signup-input {
  width: 100%;
  padding: 12px;
  margin: 8px 0 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

.signup-btn {
  width: 100%;
  background-color: #00ecff;
  color: #000;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.terms-checkbox {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.terms-checkbox input {
  margin-right: 8px;
}

.message {
  margin-bottom: 20px;
  font-weight: bold;
}

.success {
  color: green;
}

.error {
  color: rgb(177, 6, 6);
}

.bottom-links p {
  margin: 4px 0;
  font-size: 0.9rem;
}

.bottom-links a {
  font-weight: bold;
  text-decoration: underline;
  color: #0056b3;
}
